<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Javier Martinez</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
    <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add Categorie</a>
    <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Add site</a>

    <div class="row">
        <div class="col-4">
          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Categories</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Item 1</a>
            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Item 2</a>
            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Item 3</a>
            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Item 4</a>
          </div>
        </div>
    </div>

    <ul class="list-group list-group-horizontal-md">
        <li class="list-group-item">Sitio</li>
        <li class="list-group-item">User</li>
        <li class="list-group-item">Created at</li>
        <li class="list-group-item">Actions</li>
    </ul>
    <ul class="list-group list-group-horizontal-md">
        <li class="list-group-item">Google</li>
        <li class="list-group-item">Mysample</li>
        <li class="list-group-item">10/10/2020</li>
        <li class="list-group-item">...</li>
    </ul>
    <ul class="list-group list-group-horizontal-md">
        <li class="list-group-item">Facebook</li>
        <li class="list-group-item">fbUser</li>
        <li class="list-group-item">08/10/2018</li>
        <li class="list-group-item">...</li>
    </ul>

    


    
</body>
</html>